body {
	display: flex;
	flex-direction: column;
	max-width: 900px;
	padding: 20px;
	margin: 0 auto;
}

button {
	width: fit-content;
	margin-top: 10px;
}

.title {
	text-align: center;
}

.homework-bock {
	margin-bottom: 40px;
}
.homework-bock__summary {
	text-align: center;
}

.task-block {
	padding: 25px 20px 0 12px;
}

.task-block__about {
	text-align: justify;
	padding: 0;
	margin: 10px 0 0;
}
